<!-- admin/attendance-monitor.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layouts/layout-sidebar :: layout(
    content = ~{::main},
    title = '考勤',
    links = ~{},
    scripts = ~{}
)">
<body>
<main>
    <th:replace th:src="~{layouts/sidebar}"></th:replace>
    <div class="container">
        <h2>考勤</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>username</th>
                <th>姓名</th>
                <th>打卡時間</th>
                <th>狀態</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${records}">
                <td th:text="${record.user.username}"></td>
                <td th:text="${record.user.name}"></td>
                <td th:text="${#temporals.format(record.clockInTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${record.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
>
</body>
</html>
