<div class="page-header">
    <div class="header-wrapper row m-0">
        <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
            <ul class="nav-menus">
                <li class="fullscreen-body">                       <span>
                  <svg id="maximize-screen">
                    <use href="../assets/svg/icon-sprite.svg#full-screen"></use>
                  </svg></span></li>
                <li>
                    <div class="mode">
                        <svg>
                            <use href="../assets/svg/icon-sprite.svg#moon"></use>
                        </svg>
                    </div>
                </li>
                <li class="profile-nav onhover-dropdown pe-0 py-0" th:if="${user != null}">
                    <div class="d-flex profile-media"><img class="b-r-10"
                                                           th:src="@{/assets/images/dashboard/profile.png}"
                                                           alt="">
                        <div class="flex-grow-1"><span th:text="${user.name}"></span>
                            <p th:text="${user.name}" class="mb-0"> <i class="middle fa-solid fa-angle-down"></i></p>
                        </div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div">
                        <li><a th:href="@{/user/profile}"><i data-feather="user"></i><span>Account </span></a></li>
                        <li><a href="#" onclick="document.getElementById('logoutForm').submit();">
                            <i data-feather="log-in"></i><span>Log out</span>
                        </a>
                            <form id="logoutForm" th:action="@{/logout}" method="post" style="display:none;">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>