<!-- admin/attendance-monitor.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layouts/layout :: layout(
    content = ~{::main},
    title = '個人資料',
    links = ~{},
    scripts = ~{::scripts}
)">
<body>
<main>
    <div class="container-fluid">
        <div class="user-profile">

            <div class="row">
                <div class="col-sm-12">
                    <div class="card hovercard text-center">
                        <div class="cardheader"></div>
                        <div class="user-image">
                            <!-- 用戶頭像 -->
                            <div class="avatar">
                                <img th:alt="${user.name}" th:src="@{${user.avatar}}" />
                            </div>
                            <div class="icon-wrapper"><i class="icofont icofont-pencil-alt-5"></i></div>
                        </div>
                        <div class="info">
                            <div class="row g-3">
                                <div class="col-sm-6 col-xl-4 order-sm-1 order-xl-0">
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="ttl-info text-start">
                                                <h6><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;Email</h6>
                                                <!-- 動態顯示用戶電子郵件 -->
                                                <span th:text="${user.email}">william@jourrapide.com</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ttl-info text-start">
                                                <h6><i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp;&nbsp;加入時間</h6>
                                                <!-- 動態顯示用戶創建日期 -->
                                                <span th:text="${formattedCreatedAt}">02 January 1988</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xl-4 order-sm-0 order-xl-1">
                                    <div class="user-designation">
                                        <!-- 動態顯示用戶名稱和角色 -->
                                        <div class="title"><a target="_blank" href="" th:text="${user.name}">William C. Jennings</a></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4 order-sm-2 order-xl-2">
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <div class="ttl-info text-start">
                                                <h6><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp;電話</h6>
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="ttl-info text-start">
                                                <h6><i class="fa-solid fa-location-arrow"></i>&nbsp;&nbsp;&nbsp;角色</h6>
                                                <span th:text="${user.role}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="follow">
                                <div class="row">
                                    <div class="col-6 text-md-end border-right">
                                        <div class="follow-num counter" data-target="258690">258690</div>
                                        <span>Follower</span>
                                    </div>
                                    <div class="col-6 text-md-start">
                                        <div class="follow-num counter" data-target="659887">659887</div>
                                        <span>Following</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:fragment="scripts"></th:block>
</body>
</html>
